<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div id="app">

    <!--<div v-if="score>=90&&score<=100">A</div>-->
    <!--<div v-else-if="score>=80&&score<=90">B</div>-->
    <!--<div v-else-if="score>=70&&score<=80">C</div>-->
    <!--<div v-else-if="score>=60&&score<=70">D</div>-->
    <!--<div v-else>E</div>-->
    <!--<ul >-->
        <!--&lt;!&ndash;<li v-for="(item,index) in stuList">&ndash;&gt;-->
            <!--&lt;!&ndash;{{index}}姓名：{{item.name}},年龄:{{item.age}}&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--<li v-for="(val,key,index) in stuList[0]" :key="index">-->
        <!--key:{{key}},value:{{val}}-->
        <!--</li>-->
    <!--</ul>-->
    <input type="text" placeholder="用户名" v-model="username">
    {{username}}
</div>


<script src="js/vue.js"></script>
<script type="text/javascript">
//    var app = new Vue({
//        el:'div',
//        data:{
//            message:'hello vue.js'
//        }
//    })
    var app = new Vue({
        data:{
            username:'',
            message:'hello vue.js',
            ok:true,
            score:87,
            stuList:[{
                name:'zs',age:18
            },{
                name:'ls',age:118
            },{
                name:'ww',age:128
            }]
        }
    }).$mount('#app')

</script>
</body>
</html>